section {
  width: 1280px;
  margin: 0 auto;
}
.dummy-text {
  display: flex;
  /* flex-wrap: wrap;
  flex-grow: 1;
  flex-shrink: 0;
  flex-basis: 280px;
  justify-content: space-evenly;
  gap: 2rem;
  margin-top: 20px; */
}

.dummy-text > div {
  margin-top: 20px;
  padding: 80px;
}
.dummy-text > div:nth-child(1) {
  background-color: blue;
}
.dummy-text > div:nth-child(2) {
  background-color: cyan;
}
.dummy-text > div:nth-child(3) {
  background-color: tomato;
}
.dummy-text > div:nth-child(4) {
  background-color: yellow;
}

/* footer style */

.footer__nav {
  display: flex;
  justify-content: space-evenly;
}
.nav__item {
  list-style-type: none;
}
.nav__item .nav__item__list {
  list-style-type: none;
  margin: 0;
  padding: 0;
}
.nav__item .nav__item__list a {
  text-decoration: none;
}
.nav__pages .nav__item__list {
  column-count: 2;
  column-gap: 1.25em;
}
