body {
    background-color: #EBEBEB;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    flex-direction: column;
}

.card {
    background-color: #fff;
    padding: 1rem;
    border-radius: 0.25rem;
    margin: 2rem;
}

.card > .card__image {
    aspect-ratio: 4/3;
    width: 200px;
    background-color: coral;
    border-radius: 0.25rem;
    overflow: hidden;
}

.card:has(.card__image) {
    display: flex;
    gap: 1rem;
    align-items: center;
}

.card:not(:has(.card__image)) {
    border-top: 4px solid coral;
}