main {
    max-width: 1280px;
    margin: 0 auto;
}

main > section {
    margin: 1rem;
}

.wrapper {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
    gap: 1rem;
}

.wrapper > div {
    background-color: red;
    height: 300px;
}


main > section#portfolio > h2 {
    text-align: center;
    margin: 4rem 0;
}

main > section#portfolio > .portfolio-grid {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: repeat(2, 1fr);
    gap: 2rem;
}

main > section#portfolio > .portfolio-grid > .portfolio-item {
    border-radius: 20px;
    overflow: hidden;
    display: flex;
    flex-direction: column;

}

main > section#portfolio > .portfolio-grid > .portfolio-item > div {
    padding: 2rem 0;
}

main > section#portfolio > .portfolio-grid > .portfolio-item > img {
    height: 100%;
    width: 100%;
    border-radius: 20px;
}

@media screen and (max-width: 768px) {
    main > section#portfolio > .portfolio-grid { 
        grid-template-columns: 1fr;
    }
}