
body {
    display: grid;
    grid-template: 
        "header header" 1fr
        "aside main" 5fr
        "aside footer" 1fr / 1fr 4fr; /* 1fr 5fr 1fr are height and 1fr and 4fr are width */
    height: 100vh;
}

header {
    grid-area: header;
    background-color: red;
}

aside {
    grid-area: aside;
    background-color: gold;
}

main {
    grid-area: main;
    background-color: coral;
}

footer {
    grid-area: footer;
    background-color: burlywood;
}

/* body {
    display: grid;
    grid-template-columns: 1fr 3fr;
    grid-template-rows: 1fr 5fr 1fr;
    height: 100vh;
}

header {
    background-color: red;
    grid-column: span 2;
}

aside {
    background-color: gold;
}

main {
    background-color: coral;
}

footer {
    background-color: burlywood;
    grid-column: span 2;
} */

/* main {
    margin: 0 auto;
    max-width: 1280px;
}

main > section#portfolio-grid {
    margin: 1rem;
}


main > section#portfolio-grid > h1 {
    text-align: center;
    margin: 4rem 0;
}

main > section#portfolio-grid > div.wrapper {
    display: grid;
    grid-template-columns: repeat(3, auto);
    grid-template-rows: repeat(2, 300px);
    gap: 1rem;

}

main > section#portfolio-grid > div.wrapper > div {
    background-color: red;
}

main > section#portfolio-grid > div.wrapper > div:nth-child(1) {
    grid-row: span 2;
} */
