#portfolio {
    max-width: 1280px;
    margin: 0 auto;
}

#portfolio > h1 {
    text-align: center;
    margin: 5rem 0;
    display: flexbox;
}

#portfolio > .portfolio-wrapper {
    display: flex;
    flex-wrap: wrap;
    gap: 2rem;
    margin: 1rem;
}

#portfolio > .portfolio-wrapper > .portfolio-item {
    flex-grow: 1;
    flex-shrink: 0;
    flex-basis: 576px;
    border-radius: 2rem;
    overflow: hidden;
}

#portfolio > .portfolio-wrapper > .portfolio-item > img {
    width: 100%;
    border-radius: 1.5rem;
}

#portfolio > .portfolio-wrapper > .portfolio-item > div {
    padding: 2rem 0;
}