/* selector types */

/* element selector */
/* id Selector */
/* class selector */

div {
    height: 100px;
    background-color: green;
  }


/* div {
    height: 100px;
    width: 100px;
}

.red-box {
    background-color: red;
}

.blue-box {
    background-color: blue;
} */